scripts=[
  "
    create service user aem-vercel-workflow-service with path /home/users/system
    set ACL for aem-vercel-workflow-service
        allow jcr:read, jcr:write, jcr:nodeTypeManagement on /var/ai-actions
        allow jcr:read, jcr:write, jcr:nodeTypeManagement on /var/ai-executions
    end
  "
]
